@import 'config';


body {
    display: flex;
    justify-content: center;

}

.container {
    height: 75vh;
    width: 90vw;
    margin: auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: auto;

    place-content: center;


    @include mobile {
        height: 200vh;
        margin-top: 50px;
        width: 80%;
        grid-template-columns: 250px;
        grid-template-rows: auto;

        justify-content: center;
        align-content: start;
    }
}


.card {
    color: $White;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__name {
        margin-left: 15px;
        width: 160px;
        display: flex;
        justify-content: space-around;


        img{
            width: 20%;
            border-radius: 50%; 
            border: 2px solid $Light-gray;  
        }

        &--only {
            font-size: 1rem;
            align-self: center;
        }

        &--verified {
            font-size: .9rem;
            font-style: italic;
            font-weight: 500;
            opacity: 50%;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 15px 20px 5px 20px;
    }

    &__text {
        font-size: 1rem;
        font-weight: 500;
        opacity: 70%;
        margin: 10px 20px;
        line-height: 1.3rem;
    }

    &--daniel {
        background-image: url(/dist/images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: right 15% bottom 100%;
        background-color: $Moderate-violet;
        grid-column: 1 / span 2;
        grid-row: 1;

        @include mobile {
            grid-column: auto;
            grid-row: auto;
        }
        
    }

    &--jonathan {
        background-color: $Very-dark-grayish-blue;
        grid-column: 3;
        grid-row: 1;

        @include mobile {
            grid-column: auto;
            grid-row: auto;
        }
    }

    &--jeanette {
        background-color: $White;
        color: $Very-dark-grayish-blue;
        grid-column: 1 ;
        grid-row: 2;

        @include mobile {
            grid-column: auto;
            grid-row: auto;
        }
    }

    &--patrick{
        background-color: $Very-dark-blackish-blue;
        grid-column: 2 / span 2 ;
        grid-row: 2;

          @include mobile {
            grid-column: auto;
            grid-row: auto;
        }
    }

    &--kira {
        background-color: $White;
        color: $Very-dark-grayish-blue;
        grid-column: 4;
        grid-row: 1 / span 2;

        @include mobile {
            grid-column: auto;
            grid-row: auto;

        }
    }
}